* {
  all: unset; //Unsets everything so you can style everything from scratch
}

//Global Styles
.bar {
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 5px;
}

// Styles on classes
.bar-center {
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 5px;
}

.control_center {
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.time {
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

