SUBSYSTEM=="backlight", ACTION=="add", \
	RUN+="/bin/chgrp kylian-bbo /sys/class/backlight/%k/brightness", \
	RUN+="/bin/chmod g+w /sys/class/backlight/%k/brightness"
